html{
background: #ff4343;
margin: 0;
color: #fff;
line-height: 1.4em;
font-family: Inter;
}

h1{
  line-height: 1.4em;
}

.header
{
  padding-top: 48px;
  text-align: left;
  max-width: 1112px;
}

.note{
  vertical-align: top;
  max-width: 540px;
  padding: 16px;
  padding-top: 32px;
  display: inline-block;
}

.talk{
  text-align: left;
  padding-top: 14px;
  font-size: 16px;
  font-weight: 600;
}

.speaker{
  text-align: left;
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
  font-weight: 400;
}

img{
  filter:contrast(108%);
  border-radius: 4px;
  max-width: 540px;
  box-shadow: 0px 2px 12px -8px rgba(0, 0, 0, 1);
  transition: .2s;
}

img:hover{
  filter:contrast(130%);
  box-shadow: 0px 4px 16px -4px rgba(0, 0, 0, 0.75) ;
}

@media only screen and (max-width: 768px) {

  .header{
    padding-top: 4px;
    max-width: 90vw;
  }

  .talk{
      padding-top: 8px;
      max-width: 90vw;
  }

  .speaker{
    max-width: 90vw;
  }

  .note{
    vertical-align: top;
    max-width: 94vw;
    padding: 0px;
    padding-top: 32px;
    display: inline-block;
  }

  img{
    border-radius: 0px;
    max-width: 94vw;
  }

}
